<select id="roleSelect">
    <option value="" disabled selected>Select a role</option>
    <option value="Admin">Admin</option>
    <option value="EventAdmin">Event Admin</option>
    <option value="BoxAdmin">Box Admin</option>
    <option value="Client">Client</option>
</select>
<button id=@ViewBag.Id class="btn btn-success postRoles">
    Submit changes
</button>