@{
    ViewData["Title"] = "Bekräfta Email";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Thank you for confirming your email. Please <a asp-controller="superadmin" asp-action="SignIn">Klicka här för att logga in</a>.
    </p>
</div>