@{ 
    Layout = null;
}

<row>
    <div class="col-sm-10 col-sm-offset-1">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="usr">Förnamn</label>
                <input type="text" class="form-control firstNameInput" id="usr">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="usr">Efternamn</label>
                <input type="text" class="form-control lastNameInput" id="usr">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="sel1">Tröjstorlek</label>
                <select class="form-control shirtSizeInput" id="sel1">
                    <option>XS</option>
                    <option>S</option>
                    <option>M</option>
                    <option>L</option>
                    <option>XL</option>
                </select>
            </div>
        </div>
    </div>
</row>