<h1>Nyheter</h1>
<br />
<div class="box-margin col-sm-12">
    <div class="row slideanim col-sm-12">
        <div class="bc-padding">
            <h2><span>Den 18-19 november 2017 arrangerar CrossFit Södertörn:</span></h2>
        </div>
        <div class="bc-padding">
            <img class="news-img" src="~/img/STHLM Mayhem 17.png" />
        </div>
        <div class="bc-padding">
            <h3>
                <span>
                    STHLM Mayhem en tävling som i sin första upplaga är riktad mot klassen Scaled.
                </span>
            </h3>
            <br />
            <h4>
                <span>
                    Lördagen är det dam och herr i lag om två som gäller, på söndagen kör vi mixade team samt master 40+.
                </span>
            </h4>
        </div>
    </div>
</div>

<div class="box-margin col-sm-12">
    <div class="row slideanim">
        <div class="col-sm-6">
            <div class="news news-md">
                <img id="csbg-img" src="~/img/CrossFit Södertörn Battleground 20.png" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="bc-padding news-md">
                <br />
                <h2><span>Plats:</span></h2>
                <h4><span>CrossFit Södertörn Battleground</span></h4>
                <h2><span>Datum:</span></h2>
                <h4><span>Kommer strax</span></h4>
                <h2><span>Anmälningsavgift:</span></h2>
                <h4><span>1200:- per lag</span></h4>
            </div>
        </div>
    </div>
</div>

<div class="box-margin col-sm-12">
    <div class="row slideanim">
        <div class="col-sm-6">
            <div class="news news-lg">
                <img class="news-icon" src="~/img/Scale.png" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="bc-padding news-lg">
                <h4><span>JUDGES</span></h4>
                <p>
                    <span>
                        För att genomföra tävling av denna klass och storlek så behöver vi din hjälp.<br />
                        Om Du dömt tidigare eller om du känner att du har bra koll på standards och rörelser, så vill vi gärna ha med dig på denna tävling.
                    </span>
                </p>
                <h4><span>VAD FÅR DU SOM DOMARE?</span></h4>
                <p>
                    <ul>
                        <li>Domar T-shirt.</li>
                        <li>Lunch och fika under tävlingen.</li>
                        <li>Boende - del i flerbäddsrum, delad toalett. Gäller primärt de som ej bor i Stockholm.</li>
                    </ul>
                </p>
                <h4><span>KRAV</span></h4>
                <p>
                    <ul>
                        <li>Du skall vara tillgänglig en timme före och en timme efter tiden som är angivet för atleter.</li>
                        <li>Att du är bekant med de rörelser och de generella regler som råder inom sporten samt att du gärna själv är utövare.</li>
                        <li>Vi ser gärna att du har dömt tidigare - dock ej krav.</li>
                        <li>Godkänd domarkurs på oc.crossfit.com - dock ej krav.</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="box-margin col-sm-12">
    <div class="row slideanim">
        <div class="col-sm-6">
            <div class="news news-sm">
                <img class="news-icon" src="~/img/Crew.png" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="bc-padding news-sm">
                <h4><span>CREW</span></h4>
                <p><span>Vi behöver även personer till dessa positioner: eventarea, utrustningsroddare , med mera.</span></p>
                <h4><span>VAD FÅR DU SOM CREW?</span></h4>
                <p><span>Lunch och fika under tävlingen.</span></p>
            </div>
        </div>
    </div>
</div>

<div class="box-margin col-sm-12">
    <div class="row slideanim">
        <div class="col-sm-6">
            <div class="news news-md">
                <img class="news-icon" src="~/img/Info.png" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="bc-padding news-md">
                <h4><span>INFO</span></h4>
                <p>
                    <ul>
                        <li>Eventuell vinstskatt betalas av vinnarna.</li>
                        <li>Inga anmälningsavgifter återbetalas.</li>
                        <li>Medverkan sker på egen risk.</li>
                        <li>Arrangörerna för tävlingen avsäger sig allt ansvar vid eventuella skador.</li>
                    </ul>
                    <ul>
                        <lh>Lördag:</lh>
                        <li>20 Damlag</li>
                        <li>20 Herrlag</li>
                    </ul>
                    <ul>
                        <lh>Söndag:</lh>
                        <li>15 Master - Damlag 40+</li>
                        <li>15 Master - Herrlag 40+</li>
                        <li>20 Mixade lag</li>
                    </ul>
                </p>
                <p>
                    <ul>
                        <lh>Kontakt:</lh>
                        <li id="contact-mail"><a href="mailto:mayhem@crossfitsodertorn.se">mayhem@crossfitsodertorn.se</a></li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
