@{
    Layout = null;
}
<div id="modalReserve" class="bc-modal-shadow">
    <div class="bc-system-header">
        <!-- Modal header -->
        <button id="modalButton-close" type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 modal-title"><b>Byt webbläsare!</b></h3>
    </div>
    <div class="bc-modal-body">
        <!-- Modal main content -->
        <br />
        <div class="alert alert-warning">
            <p class="bc-system-no-margin">
                Du besöker just nu BoxCore via Facebook.
                För att genomföra en reservation måste du byta webbläsare.
            </p>
        </div>
        <br />
        <div class="bc-modal-info">
            <p>
               I <strong>Facebook-appen</strong> kan du trycka på de tre prickarna och välja "Öppna i (namnet på din webbläsare)".
            </p>
            <p>
                <strong>Eller:</strong> Så stänger du Facebook-appen och öppnar en annan webbläsare på telefonen (Safari, Firefox, Chrome, eller annan) och besöker https://www.boxcore.net. 
            </p>
        </div>
    </div>
    <br />
</div>
<div class="bc-system-footer"></div>