<div id="scroll-up">
    <a id="scroll-up" class="logo-anim" href="#top" title="Upp">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
</div>
<br />
<br />
<br />
<div class="row">
    <div class="col-sm-4 footer-center">
        <ul class="footer-info-list list-unstyled">
            <li><a href="/Home/About">Om oss</a></li>
            <li><a href="/Home/Cookies">Om cookies</a></li>
            <li><a href="/Home/Terms">Villkor</a></li>
        </ul>
        <br />
    </div>
    <div class="col-sm-4 footer-center">
        <ul class="footer-payment-list list-unstyled">
            <li><img src="~/img/paxex-transparent.png" /></li>
            <li><img src="~/img/visa-mc-transparent.png" /></li>
        </ul>
    </div>
    <div class="col-sm-4 footer-center">
        <ul class="footer-social-list list-unstyled">
            <li id="fb-social" class="social-media"><a href="https://www.facebook.com/BoxCoreOfficial/" target="_blank"><img src="~/img/icon_facebook_white.svg" /> </a></li>
            <li id="ig-social" class="social-media"><a href="https://www.instagram.com/boxcore_sverige/" target="_blank"><img src="~/img/icon_instagram_white.svg" /></a></li>
            <li id="tw-social" class="social-media"><a href="https://twitter.com/BoxCore_Sverige" target="_blank"><img src="~/img/icon_twitter_white.svg" /></a></li>
        </ul>
        <br>
        <span id="syntax-copy">&copy; syntax3rror 2018</span>
    </div>
</div>
