<div id="index">
    <div id="indexDiv" href="#down" title="Ner">
        <a id="scroll-down" href="#down" title="Ner">
            <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
    </div>
</div>
