@{
    ViewData["Title"] = "Error";
}
<div class="event-main">
    <div class="comp-body bc-system-wrapper">
        <div class="bc-system-header">
            <h1>Error 401</h1>
        </div>
        <div class="bc-system-body">
            <p id="error-message">Access Denied!</p>
        </div>
        <div class="bc-system-footer"></div>
    </div>
</div>