@{
    ViewData["Title"] = "Error";
}
<div class="event-main">
    <div class="comp-body bc-system-wrapper">
        <div class="bc-system-header">
            <h1>Error 404</h1>
        </div>
        <div class="bc-system-body">
            <p id="error-message">Oj, något gick fel med din begäran eller så finns inte sidan du försöker nå!</p>
        </div>
        <div class="bc-system-footer"></div>
    </div>
</div>


