@model Int32

<br />
<div class="col-sm-6 col-sm-offset-3">
    <div id="classSelectedAlert" class="alert alert-info"></div>
    <div>
        <button id="@Model" class="btn btn-primary participantList">Deltagarlista</button>
        <button id="@Model" class="btn btn-primary constructCompetition">Konstruera</button>
        <button id="@Model" class="btn btn-primary registerResult">Resultat</button>
    </div>
</div>