<div id="scroll-up">
    <a id="scroll-up" class="logo-anim" href="#top" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
</div>
<div>
    @*<span id="footer-info">
        <a asp-controller="disclaimer" asp-action="cookies">Cookies</a>
        <a asp-controller="disclaimer" asp-action="legal">Legal</a>
        <a asp-controller="disclaimer" asp-action="privacy">Privacy</a>
    </span>*@
    <span id="syntax-copy">&copy; syntax3rror 2017</span>
    <br />
</div>
