@{
    ViewBag.Title = "Lösenordsändring";
}
<div class="event-main">
    <div class="user-form bc-system-wrapper">
        <div class="bc-system-header">
            <h3>Ditt lösenord är nu ändrat</h3>
        </div>
        <div class="bc-system-body">
            <span id="userCreated" class="glyphicon glyphicon-ok-circle"></span>
            <br />
            <br />
            <br />
            <div id="CountDown" style="display:none;">
                <h4>
                    Du loggas in automatiskt om <span id="CountDownLabel" style="color:red"></span> sekunder.
                    <br />
                    Annars kan du klicka <a asp-controller="UserClient" asp-action="Profile">här</a>.
                </h4>
            </div>
        </div>
        <div class="bc-system-footer"></div>
    </div>
</div>
@section Scripts{
    <script>

    function RedirectAfterDelayFn() {
        var seconds = 5;
        var dvCountDown = document.getElementById("CountDown");
        var lblCount = document.getElementById("CountDownLabel");
        dvCountDown.style.display = "block";
        lblCount.innerHTML = seconds;
        setInterval(function () {
            seconds--;
            lblCount.innerHTML = seconds;
            if (seconds == 0) {
                dvCountDown.style.display = "none";
                window.location.href = '@Url.Action("Index", "Home")';
            }
        }, 1000);
    }
    window.onload = RedirectAfterDelayFn();
    </script>
}
