@{
    ViewBag.Title = "Registrering";
}
<div class="event-main">
    <div class="user-form  bc-system-wrapper">
        <div class="bc-system-header">
            <h3>Användaren är registrerad</h3>
        </div>
        <div class="bc-system-body">
            <br />
            <span id="userCreated" class="glyphicon glyphicon-ok-circle"></span>
            <br />
            <br />
            <p>Var vänlig och följ instruktionerna i utskickat mail.</p>
        </div>
        <div class="bc-system-footer"></div>
    </div>
</div>