<div id="companyDiv" class="row">
    <div class="col-sm-12">
        <h1 style="text-align: center">OM OSS</h1>
        <h2>BoxCore - det kompletta systemet för alla dina CrossFit-behov.</h2>
        <p>Text text text text text text text text text text text text text text text text text text text text text.</p>
        <p>Text text text text text text text text text text text text text text text text text text text text text.</p>
        <p>Text text text text text text text text text text text text text text text text text text text text text.</p>
        <p>Text text text text text text text text text text text text text text text text text text text text text.</p>
        <p>Text text text text text text text text text text text text text text text text text text text text text.</p>
        <p>Text text text text text text text text text text text text text text text text text text text text text.</p>
        <p>Text text text text text text text text text text text text text text text text text text text text text.</p>
        <p>Text text text text text text text text text text text text text text text text text text text text text.</p>
        <p>Text text text text text text text text text text text text text text text text text text text text text.</p>
        <p>Text text text text text text text text text text text text text text text text text text text text text.</p>
        <p>Text text text text text text text text text text text text text text text text text text text text text.</p>
        <p>Text text text text text text text text text text text text text text text text text text text text text.</p>
        <p>Text text text text text text text text text text text text text text text text text text text text text.</p>
    </div>
</div>
