<h1>Tävlingar</h1>
<br />

@*Fristaden*@

@*<div class="box-margin col-sm-12">
    <div class="slideanim col-sm-12">
        <div class="bc-padding">
            <h2><span>Den 16:e juni 2018 arrangerar Rydgren Promotion och Träningsvärk Sweden:</span></h2>
        </div>
        <div class="news news-sm-img">
            <img class="fbc-icon" src="~/img/foc_logo.png" />
        </div>
        <div class="bc-padding">
            <h4>
                <span>
                    I denna tävling behöver man inte vara så tekniskt kunnig, utan styrka, samarbete och pannben kommer bära långt!
                </span>
            </h4>
        </div>
        <button class="btn btn-primary info-button" data-toggle="collapse" data-target="#fbc1"><strong>INFORMATION</strong></button>
    </div>
</div>
<div id="fbc1" class="collapse">
    <div class="box-margin col-sm-12">
        <div class="row slideanim">
            <div class="col-sm-6">
                <div class="news news-info-img">
                    <img class="news-icon" src="~/img/location.png" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="bc-padding news-info">
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <h2><span>Plats:</span></h2>
                    <h4><span>Ekängens IP</span></h4>
                    <p style="text-align: center"><span>Lärkvägen, 633 49 Eskilstuna</span></p>
                    <h2><span>Datum:</span></h2>
                    <h4><span>16:e juni 2018</span></h4>
                    <h2><span>Anmälningsavgift:</span></h2>
                    <h4><span>1495:- per lag</span></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="box-margin col-sm-12">
        <div class="row slideanim">
            <div class="col-sm-6">
                <div class="news news-xl-img">
                    <img class="barbell-icon" src="~/img/Barbell.png" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="bc-padding news-xl">
                    <h4><span>KRAVPROFIL - FRISTADEN OUTDOOR CHALLENGE</span></h4>
                    <br />
                    <p>Det här är en lite annorlunda CrossFit/StrongFit tävling...</p>
                    <br />
                    <p>Vi kommer testa styrka, uthållighet och samarbete. Alla kan tävla då vi uteslutit många tekniskt svåra moment! Alltså inga handstands, inga Muscle Ups eller Double Unders.</p>
                    <br />
                    <p>TÄNK PÅ ATT DETTA ÄR EN LAGTÄVLING!</p>
                    <br />
                    <p>Så vilken klass passar ert team bäst?</p>
                    <br />
                    <h5>RX-KLASSEN</h5>
                    <br />
                    <ul>
                        <li>Ni i RX team ska kunna hantera 70/50kg och här ser vi gärna er som kört CrossFit eller StrongFit ett tag, samt tävlat i det.</li>
                    </ul>
                    <br />
                    <h5>BEGINNER-KLASSEN</h5>
                    <br />
                    <ul>
                        <li>Ni ska kunna hantera 50/30kg!</li>
                        <li>Beginner team är till för BEGINNERS!</li>
                        <li>Här tävlar endast ni som är nya på Crossfit!</li>
                        <li>Självklart hjälper det att ha flås och styrka, men i denna klass blir det lite lite lättare vikter/reps!</li>
                    </ul>
                    <br />
                    <p>Var ärliga mot er själva och era medtävlare - välj rätt klass!</p>
                    <p>Om en i laget är en skaplig Crossfitter så gäller RX klassen!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="row slideanim">
            <div class="col-sm-6">
                <div class="news news-info-img">
                    <img class="news-icon" src="~/img/Info.png" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="bc-padding news-info">
                    <br />
                    <br />
                    <br />
                    <h4><span>INFO</span></h4>
                    <p>
                        <ul>
                            <li>Vi går under <a href="http://www.100procentrenhardtraning.se/">100% ren hårdträning</a>!</li>
                            <li>Inga anmälningsavgifter återbetalas.</li>
                            <li>Medverkan sker på egen risk.</li>
                            <li>Arrangörerna för tävlingen avsäger sig allt ansvar vid eventuella skador.</li>
                            <li>Alla lag består av två atleter.</li>
                            <li>Tävlingsprofil: Crossfit + Strongfit</li>
                            <li>Atletgenomgång: 07:30</li>
                            <li>Första heat startar: 09:00</li>
                            <li>Beräknad final: 18.30</li>
                        </ul>
                        <ul>
                            <lh>Beginner:</lh>
                            <li>24 Damlag</li>
                            <li>24 Herrlag</li>
                        </ul>
                        <ul>
                            <lh>RX:</lh>
                            <li>24 Damlag</li>
                            <li>24 Herrlag</li>
                        </ul>
                    </p>
                    <p>
                        <ul>
                            <lh>Kontakt - Tävlingsinformation:</lh>
                            <li id="contact-mail"><a href="mailto:fristadenbmc@gmail.com">fristadenbmc@gmail.com</a></li>
                        </ul>
                        <ul>
                            <lh>Kontakt - Systemsupport:</lh>
                            <li id="contact-mail"><a href="mailto:support@boxcore.net">support@boxcore.net</a></li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>*@

@*Mayhem 4.0*@

@*<hr class="slideanim comp-divider" />*@

<div class="box-margin col-sm-12">
    <div class="slideanim col-sm-12">
        <div class="bc-padding">
            <h2><span>Den 15-16:e september 2018 arrangerar CrossFit Södertörn:</span></h2>
        </div>
        <div class="news news-sm-img">
            <img class="news-img text-center" src="~/img/STHLM Mayhem 4.png" />
        </div>
        <div class="bc-padding">
            <h3>
                <span>
                    I sin fjärde upplaga riktar sig STHLM Mayhem mot klassen Beginner.
                </span>
            </h3>
            <br />
            <h5>
                <span>
                    På lördagen är det dam- och herrlag som gäller, sedan kör vi mixade team samt individer på söndagen.
                </span>
            </h5>
        </div>
        <button class="btn btn-primary info-button" data-toggle="collapse" data-target="#mayhem4"><strong>INFORMATION</strong></button>
    </div>
</div>
<div id="mayhem4" class="collapse">
    <div class="box-margin col-sm-12">
        <div class="row slideanim">
            <div class="col-sm-6">
                <div class="news news-md-img">
                    <img id="csbg-img" src="~/img/CrossFit Södertörn Battleground 20.png" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="bc-padding news-md">
                    <br />
                    <h2><span>Plats:</span></h2>
                    <h4><span>CrossFit Södertörn Battleground</span></h4>
                    <p style="text-align: center"><span>Hantverkarvägen 22, 136 44 Handen</span></p>
                    <h2><span>Datum:</span></h2>
                    <h4><span>15-16:e september 2018</span></h4>
                    <h2><span>Anmälningsavgift:</span></h2>
                    <h4><span>695:- per individ</span></h4>
                    <h4><span>1295:- per lag</span></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="box-margin col-sm-12">
        <div class="row slideanim">
            <div class="col-sm-6">
                <div class="news news-lg-img">
                    <img class="news-icon" src="~/img/Scale.png" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="bc-padding news-lg">
                    <h4><span>JUDGES</span></h4>
                    <p>
                        <span>
                            För att genomföra tävling av denna klass och storlek så behöver vi din hjälp.<br />
                            Om Du dömt tidigare eller om du känner att du har bra koll på standards och rörelser, så vill vi gärna ha med dig på denna tävling.
                        </span>
                    </p>
                    <h4><span>VAD FÅR DU SOM DOMARE?</span></h4>
                    <p>
                        <ul>
                            <li>Judge T-shirt.</li>
                            <li>Lunch och fika under tävlingen.</li>
                            <li>Boende - del i flerbäddsrum, delad toalett. Gäller primärt de som ej bor i Stockholm.</li>
                        </ul>
                    </p>
                    <h4><span>KRAV</span></h4>
                    <p>
                        <ul>
                            <li>Du skall vara tillgänglig en timme före och en timme efter tiden som är angivet för atleter.</li>
                            <li>Att du är bekant med de rörelser och de generella regler som råder inom sporten samt att du gärna själv är utövare.</li>
                            <li>Vi ser gärna att du har dömt tidigare - dock ej krav.</li>
                            <li>Godkänd domarkurs på oc.crossfit.com - dock ej krav.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="box-margin col-sm-12">
        <div class="row slideanim">
            <div class="col-sm-6">
                <div class="news news-sm-img">
                    <img class="news-icon" src="~/img/Crew.png" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="bc-padding news-sm">
                    <h4><span>CREW</span></h4>
                    <p><span>Vi behöver även personer till dessa positioner: eventarea, utrustningsroddare, med mera.</span></p>
                    <h4><span>VAD FÅR DU SOM CREW?</span></h4>
                    <p>
                        <ul>
                            <li>Crew T-shirt.</li>
                            <li>Lunch och fika under tävlingen.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="box-margin col-sm-12">
        <div class="row slideanim">
            <div class="col-sm-6">
                <div class="news news-sm-img">
                    <img class="kettlebell-icon" src="~/img/Barbell.png" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="bc-padding news-sm">
                    <h4><span>KRAVPROFIL - BEGINNER</span></h4>
                    <p>
                        <table id="news-table">
                            <tr>
                                <td class="news-table-left">Deadlift:</td>
                                <td class="news-table-right">70/40 kg</td>
                            </tr>
                            <tr>
                                <td class="news-table-left">Clean & Jerk:</td>
                                <td class="news-table-right">40/25 kg</td>
                            </tr>
                            <tr>
                                <td class="news-table-left">Snatch:</td>
                                <td class="news-table-right">35/20 kg</td>
                            </tr>
                            <tr>
                                <td class="news-table-left">Thruster:</td>
                                <td class="news-table-right">30/20 kg</td>
                            </tr>
                            <tr>
                                <td class="news-table-left">KB Swings:</td>
                                <td class="news-table-right">16/12 kg</td>
                            </tr>
                            <tr>
                                <td class="news-table-left">Pull Ups:</td>
                                <td class="news-table-right">Jumping</td>
                            </tr>
                            <tr>
                                <td class="news-table-left">Double Unders:</td>
                                <td class="news-table-right">Inga :)</td>
                            </tr>
                        </table>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="box-margin col-sm-12">
        <div class="row slideanim">
            <div class="col-sm-6">
                <div class="news news-info-img">
                    <img class="news-icon" src="~/img/Info.png" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="bc-padding news-info">
                    <h4><span>INFO</span></h4>
                    <p>
                        <ul>
                            <li>Eventuell vinstskatt betalas av vinnarna.</li>
                            <li>Inga anmälningsavgifter återbetalas.</li>
                            <li>Medverkan sker på egen risk.</li>
                            <li>Arrangörerna för tävlingen avsäger sig allt ansvar vid eventuella skador.</li>
                            <li>Incheckning sker från 8:30, atletbriefingen 9:30. Tiderna gäller båda dagarna.</li>
                            <li>Information gällande parkering ges på plats.</li>
                        </ul>
                        <ul>
                            <lh>Lördag:</lh>
                            <li>26 Damlag - Beginner</li>
                            <li>20 Herrlag - Beginner</li>
                        </ul>
                        <ul>
                            <lh>Söndag:</lh>
                            <li>20 Mixade lag - Beginner</li>
                            <li>20 Damer - Beginner</li>
                            <li>20 Herrar - Beginner</li>
                        </ul>
                    </p>
                    <p>
                        <ul>
                            <lh>Kontakt - Tävlingsinformation:</lh>
                            <li id="contact-mail"><a href="mailto:mayhem@crossfitsodertorn.se">mayhem@crossfitsodertorn.se</a></li>
                        </ul>
                        <ul>
                            <lh>Kontakt - Systemsupport:</lh>
                            <li id="contact-mail"><a href="mailto:support@boxcore.net">support@boxcore.net</a></li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <h1 id="partners-menu" class="text-center">PARTNERS</h1>
    <br />
    <div class="box-margin col-sm-12">
        <div id="row col-sm-12">
            <ul class="partner-list-unstyled slideanim">
                <li class="partners-large-logo"><img src="~/img/back_on_track_white_logo.jpg" /></li>
                <li class="partners-large-logo"><img src="~/img/gymgrossisten_logo.png" /></li>
                <li class="partners-large-logo"><img src="~/img/hatlex_white_logo.jpg" /></li>
                <li class="partners-large-logo"><img src="~/img/naprapatrehabcenterhaninge_logo.png" /></li>
                <li class="partners-large-logo"><img src="~/img/northernspirit_logo.png" /></li>
                <li class="partners-large-logo"><img src="~/img/pouri_logo.png" /></li>
                <li class="partners-medium-logo"><img src="~/img/nocco_logo.png" /></li>
                <li class="partners-medium-logo"><img src="~/img/BoxCore04.png" /></li>
            </ul>
        </div>
    </div>
</div>

<hr class="slideanim comp-divider" />

@*Mayhem 5.0*@

<div class="box-margin col-sm-12">
    <div class="slideanim col-sm-12">
        <div class="bc-padding">
            <h2><span>Den 3-4:e november 2018 arrangerar CrossFit Södertörn:</span></h2>
        </div>
        <div class="news news-sm-img">
            <img class="news-img text-center" src="~/img/STHLM Mayhem 5.png" />
        </div>
        <div class="bc-padding">
            <h3>
                <span>
                    I sin femte upplaga riktar sig STHLM Mayhem till Er som är på väg att ta steget mot Intermediate.
                </span>
            </h3>
            <br />
            <h5>
                <span>
                    På lördagen är det dam- och herrlag som gäller, sedan kör vi mixade team samt individer på söndagen.
                </span>
            </h5>
            <h5>
                <span>
                    Alla events kommer att ligga på Scaled+ fram tills finalen som är Intermediate-nivå.
                </span>
            </h5>
        </div>
        <button class="btn btn-primary info-button" data-toggle="collapse" data-target="#mayhem5"><strong>INFORMATION</strong></button>
    </div>
</div>
<div id="mayhem5" class="collapse">
    <div class="box-margin col-sm-12">
        <div class="row slideanim">
            <div class="col-sm-6">
                <div class="news news-md-img">
                    <img id="csbg-img" src="~/img/CrossFit Södertörn Battleground 20.png" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="bc-padding news-md">
                    <br />
                    <h2><span>Plats:</span></h2>
                    <h4><span>CrossFit Södertörn Battleground</span></h4>
                    <p style="text-align: center"><span>Hantverkarvägen 22, 136 44 Handen</span></p>
                    <h2><span>Datum:</span></h2>
                    <h4><span>3-4:e november 2018</span></h4>
                    <h2><span>Anmälningsavgift:</span></h2>
                    <h4><span>1295:- per lag</span></h4>
                    <h4><span>695:- per individ</span></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="box-margin col-sm-12">
        <div class="row slideanim">
            <div class="col-sm-6">
                <div class="news news-lg-img">
                    <img class="news-icon" src="~/img/Scale.png" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="bc-padding news-lg">
                    <h4><span>JUDGES</span></h4>
                    <p>
                        <span>
                            För att genomföra tävling av denna klass och storlek så behöver vi din hjälp.<br />
                            Om Du dömt tidigare eller om du känner att du har bra koll på standards och rörelser, så vill vi gärna ha med dig på denna tävling.
                        </span>
                    </p>
                    <h4><span>VAD FÅR DU SOM DOMARE?</span></h4>
                    <p>
                        <ul>
                            <li>Judge T-shirt.</li>
                            <li>Lunch och fika under tävlingen.</li>
                            <li>Boende - del i flerbäddsrum, delad toalett. Gäller primärt de som ej bor i Stockholm.</li>
                        </ul>
                    </p>
                    <h4><span>KRAV</span></h4>
                    <p>
                        <ul>
                            <li>Du skall vara tillgänglig en timme före och en timme efter tiden som är angivet för atleter.</li>
                            <li>Att du är bekant med de rörelser och de generella regler som råder inom sporten samt att du gärna själv är utövare.</li>
                            <li>Vi ser gärna att du har dömt tidigare - dock ej krav.</li>
                            <li>Godkänd domarkurs på oc.crossfit.com - dock ej krav.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="box-margin col-sm-12">
        <div class="row slideanim">
            <div class="col-sm-6">
                <div class="news news-sm-img">
                    <img class="news-icon" src="~/img/Crew.png" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="bc-padding news-sm">
                    <h4><span>CREW</span></h4>
                    <p><span>Vi behöver även personer till dessa positioner: eventarea, utrustningsroddare, med mera.</span></p>
                    <h4><span>VAD FÅR DU SOM CREW?</span></h4>
                    <p>
                        <ul>
                            <li>Crew T-shirt.</li>
                            <li>Lunch och fika under tävlingen.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="box-margin col-sm-12">
        <div class="row slideanim">
            <div class="col-sm-6">
                <div class="news news-sm-img">
                    <img class="barbell-icon" src="~/img/Barbell.png" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="bc-padding news-sm">
                    <h4><span>KRAVPROFIL - SCALED +</span></h4>
                    <p>
                        <table id="news-table">
                            <tr>
                                <td class="news-table-left">Deadlift:</td>
                                <td class="news-table-right">100/75 kg</td>
                            </tr>
                            <tr>
                                <td class="news-table-left">Squat Clean & Jerk:</td>
                                <td class="news-table-right">80/50 kg</td>
                            </tr>
                            <tr>
                                <td class="news-table-left">Snatch:</td>
                                <td class="news-table-right">60/40 kg</td>
                            </tr>
                            <tr>
                                <td class="news-table-left">Thruster:</td>
                                <td class="news-table-right">50/35 kg</td>
                            </tr>
                            <tr>
                                <td class="news-table-left">Toes To Bar:</td>
                                <td class="news-table-right">Många</td>
                            </tr>
                            <tr>
                                <td class="news-table-left">Pull Ups:</td>
                                <td class="news-table-right">Många</td>
                            </tr>
                        </table>
                    </p>
                    <h4><span>KRAVPROFIL - INTERMEDIATE (FINAL)</span></h4>
                    <p>
                        <table id="news-table">
                            <tr>
                                <td class="news-table-left">Chest To Bar:</td>
                                <td class="news-table-right">Många</td>
                            </tr>
                            <tr>
                                <td class="news-table-left">Muscle Ups:</td>
                                <td class="news-table-right">1 st</td>
                            </tr>
                            <tr>
                                <td class="news-table-left">Rope Climbs:</td>
                                <td class="news-table-right">Anyhow</td>
                            </tr>
                        </table>
                    </p>
                </div>
            </div>
        </div>
    </div>
    @*<div class="box-margin col-sm-12">
        <div class="row slideanim">
            <div class="col-sm-6">
                <div class="news news-sm-img">
                    <img class="kettlebell-icon" src="~/img/Kettlebell.png" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="bc-padding news-sm">
                    <h4><span>KRAVPROFIL - BEGINNER</span></h4>
                    <p>
                        <table id="news-table">
                            <tr>
                                <td class="news-table-left">Deadlift:</td>
                                <td class="news-table-right">70/40 kg</td>
                            </tr>
                            <tr>
                                <td class="news-table-left">Clean & Jerk:</td>
                                <td class="news-table-right">40/25 kg</td>
                            </tr>
                            <tr>
                                <td class="news-table-left">Snatch:</td>
                                <td class="news-table-right">35/20 kg</td>
                            </tr>
                            <tr>
                                <td class="news-table-left">Thruster:</td>
                                <td class="news-table-right">30/20 kg</td>
                            </tr>
                            <tr>
                                <td class="news-table-left">KB Swings:</td>
                                <td class="news-table-right">16/12 kg</td>
                            </tr>
                            <tr>
                                <td class="news-table-left">Pull Ups:</td>
                                <td class="news-table-right">Jumping</td>
                            </tr>
                            <tr>
                                <td class="news-table-left">Double Unders:</td>
                                <td class="news-table-right">Inga :)</td>
                            </tr>
                        </table>
                    </p>
                </div>
            </div>
        </div>
    </div>*@
    <div class="box-margin col-sm-12">
        <div class="row slideanim">
            <div class="col-sm-6">
                <div class="news news-info-img">
                    <img class="news-icon" src="~/img/Info.png" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="bc-padding news-info">
                    <h4><span>INFO</span></h4>
                    <p>
                        <ul>
                            <li>Eventuell vinstskatt betalas av vinnarna.</li>
                            <li>Inga anmälningsavgifter återbetalas.</li>
                            <li>Medverkan sker på egen risk.</li>
                            <li>Arrangörerna för tävlingen avsäger sig allt ansvar vid eventuella skador.</li>
                            <li>Alla lag består av två atleter.</li>
                            <li>Alla events fram tills finalen innehåller moment med svårighetsgrad Scaled+.</li>
                            <li>Finalen kommer att ligga på Intermediate-nivå.</li>
                            @*<li>Incheckning sker från 8:30, atletbriefingen 9:30. Tiderna gäller båda dagarna.</li>
                                <li>Information gällande parkering ges på plats.</li>*@
                        </ul>
                        <ul>
                            <lh>Lördag:</lh>
                            <li>20 Damlag - Scaled+</li>
                            <li>20 Herrlag - Scaled+</li>
                        </ul>
                        <ul>
                            <lh>Söndag:</lh>
                            <li>20 Mixade lag - Scaled+</li>
                            <li>20 Damer - Scaled+</li>
                            <li>20 Herrar - Scaled+</li>
                        </ul>
                    </p>
                    <p>
                        <ul>
                            <lh>Kontakt - Tävlingsinformation:</lh>
                            <li id="contact-mail"><a href="mailto:mayhem@crossfitsodertorn.se">mayhem@crossfitsodertorn.se</a></li>
                        </ul>
                        <ul>
                            <lh>Kontakt - Systemsupport:</lh>
                            <li id="contact-mail"><a href="mailto:support@boxcore.net">support@boxcore.net</a></li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <h1 id="partners-menu" class="text-center">PARTNERS</h1>
    <br />
    <div class="box-margin col-sm-12">
        <div id="row col-sm-12">
            <ul class="partner-list-unstyled slideanim">
                <li class="partners-large-logo"><img src="~/img/back_on_track_white_logo.jpg" /></li>
                <li class="partners-large-logo"><img src="~/img/gymgrossisten_logo.png" /></li>
                <li class="partners-large-logo"><img src="~/img/hatlex_white_logo.jpg" /></li>
                <li class="partners-large-logo"><img src="~/img/naprapatrehabcenterhaninge_logo.png" /></li>
                <li class="partners-large-logo"><img src="~/img/northernspirit_logo.png" /></li>
                <li class="partners-large-logo"><img src="~/img/pouri_logo.png" /></li>
                <li class="partners-medium-logo"><img src="~/img/nocco_logo.png" /></li>
                <li class="partners-medium-logo"><img src="~/img/BoxCore04.png" /></li>
            </ul>
        </div>
    </div>
</div>
