<h1 id="contact-menu" class="text-center">KONTAKT</h1>
<div class="row col-sm-4 col-sm-offset-4">
    <div id="contact-info">
        <p><a href="mailto:mayhem@crossfitsodertorn.se"><span id="contact-glyph" alt="mayhem@crossfitsodertorn.se" title="mayhem@crossfitsodertorn.se" class="glyphicon glyphicon-envelope"></span></a></p>
        @*<p><a id="contact-mail" href="mailto:per@crossfitsodertorn.se">per@crossfitsodertorn.se</a></p>*@
    </div>
</div>
