<a asp-controller="Home" asp-action="Events" style="cursor:pointer" id="event-button" class="btn btn-primary"><strong alt="Se events här!" title="Se events här!">EVENTS</strong></a>
<br />
<div class="row col-sm-4 col-sm-offset-4">
    <div id="contact-info">
        <p><a asp-controller="Home" asp-action="Events"><span id="contact-glyph" alt="Se events här!" title="Se events här!" class="event-glyph glyphicon glyphicon-th-list"></span></a></p>
    </div>
</div>