@model RetrievePasswordVM

<div class="bc-modal-shadow">
    <div class="bc-system-header">
        <button id="modalButton-close" type="button" class="close" data-dismiss="modal">&times;</button>
        <h1>Återställning</h1>
    </div>
    <div class="bc-system-body">
        <div class="bc-modal-info">
            <div style="display:none;" id="successMsg" class="alert alert-success"></div>
            <div style="display:none;" id="failMsg" class="alert alert-danger"></div>
            <!-- Email -->
            <div class="user-info input-group">
                <span asp-validation-for="@Model.Email" class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input id="emailInput" asp-for="@Model.Email" class="form-control" placeholder="E-post" title="exempel@exempel.se" required>
            </div>
            <span asp-validation-for="@Model.Email"></span>
            </span>
            <br />
            <!-- Submit button -->
            <button class="btn btn-success submitPasswordRetrieve">Skicka länk <span id="initializingPayment" class="glyphicon glyphicon-refresh"></span></button>
        </div>
        <br />
        <div class="modal-buttons bc-modal-info">
            <button class="btn btn-primary pull-left loginTxt">Inloggning</button>
            <button class="btn btn-primary pull-right registerTxt">Registrering</button>
        </div>
    </div>
    <div class="bc-system-footer"></div>
</div>