<h1>Nyheter</h1>
<br />
<div class="box-margin col-sm-12">
    <div class="slideanim col-sm-12">
        <div class="bc-padding">
            <h2><span>BoxCore presenterar stolt ett nytt samarbete med Rydgren Promotion och Träningsvärk Sweden</span></h2>
        </div>
        <div class="news news-sm-img">
            <img class="fbc-icon" src="~/img/foc_logo.png" />
        </div>
        <div class="bc-padding">
            <h4>
                <span>
                    Första tävlingen med denna konstellation, Fristaden Outdoor Challenge, går av stapeln den 16:e juni 2018 i Eskilstuna.
                </span>
            </h4>
            <br />
            <h5>
                <span>
                    Läs mer om tävlingen nedan, bokningen är öppen.
                </span>
            </h5>
        </div>
    </div>
</div>