<h1 id="partners-menu" class="text-center">PARTNERS</h1>
<br />
<div class="box-margin col-sm-12">
    <div id="row col-sm-12">
        <ul class="partner-list-unstyled slideanim">
            <li class="partners-large-logo"><img src="~/img/back_on_track_white_logo.jpg" /></li>
            <li class="partners-large-logo"><img src="~/img/gymgrossisten_logo.png" /></li>
            <li class="partners-large-logo"><img src="~/img/hatlex_white_logo.jpg" /></li>
            <li class="partners-large-logo"><img src="~/img/naprapatrehabcenterhaninge_logo.png" /></li>
            <li class="partners-large-logo"><img src="~/img/northernspirit_logo.png" /></li>
            <li class="partners-large-logo"><img src="~/img/pouri_logo.png" /></li>
            <li class="partners-medium-logo"><img src="~/img/nocco_logo.png" /></li>
            <li class="partners-medium-logo"><img src="~/img/BoxCore04.png" /></li>
        </ul>
    </div>
</div>
