@*<h1 id="contact-menu" class="text-center">REGISTRERING</h1>
<img class="ribbon-icon" src="~/img/Ribbon.png" />*@
<a data-toggle="modal" data-target="#myModal" style="cursor:pointer" id="register-button" class="btn btn-success"><strong alt="Registrera dig här!" title="Registrera dig här!">REGISTRERING</strong></a>
<br />
<div class="row col-sm-4 col-sm-offset-4">
    <div id="contact-info">
        <p><a data-toggle="modal" data-target="#myModal" style="cursor:pointer"><span id="contact-glyph" alt="Registrera dig här!" title="Registrera dig här!" class="contact-glyph glyphicon glyphicon-pencil"></span></a></p>
    </div>
</div>
