@{
    ViewBag.Title = "Om oss";
}
<div class="event-main container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="bc-system-wrapper">
                <div class="bc-system-header">
                    <h3>
                        Om oss
                    </h3>
                </div>
                <div class="bc-system-body bc-cookies-body">
                    <strong>Boxcore.net</strong> är ett nystartat projekt som ämnar att skapa ett komplett system för CrossFit-atleter, boxar och tävlingar.
                    <br />
                    <br />
                    Vi hoppas att ni vill följa med på denna resa och ser fram emot era åsikter samt önskemål på förändringar.
                    <br />
                    <br />
                    <ul>
                        <li><a href="mailto:support@boxcore.net">support@boxcore.net</a></li>
                    </ul>
                </div>
                <div class="bc-system-footer"></div>
            </div>
        </div>
    </div>
</div>