@{
    ViewBag.Title = "Cookies";
}

<div class="event-main container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="bc-system-wrapper">
                <div class="bc-system-header">
                    <h3>
                        Om cookies på Boxcore.net
                    </h3>
                </div>
                <div class="bc-system-body bc-cookies-body">
                    <strong>Boxcore.net</strong> använder så kallade cookies. En cookie innehåller ingen personinformation utan hjälper oss statistiskt genom att registrera antalet besök på sidan samt att hålla reda på vilka annonser som visats för en speciell webbläsare. I vissa fall använder vi även cookies för att komma ihåg dina inställningar så att du slipper ställa in dem vid varje besök.
                </div>
                <div class="bc-system-footer"></div>
            </div>
            <div class="bc-system-wrapper bc-system-margin">
                <div class="bc-system-header">
                    <h3>
                        Vad är Cookies?
                    </h3>
                </div>
                <div class="bc-system-body bc-cookies-body">
                    Cookies kan liknas vid små avtryck. En speciell datafil, så kallad cookie, sparas ner på din dator när du besöker <strong>Boxcore.net</strong>. Datafilen innehåller en mindre mängd information om vilka sidor webbläsaren du använder har besökt samt hjälper oss att hålla ordning på hur många gånger du t.ex. fått se en annons.
                </div>
                <div class="bc-system-footer"></div>
            </div>
            <div class="bc-system-wrapper bc-system-margin">
                 <div class="bc-system-header">
                     <h3>
                         Är Cookies farliga?
                     </h3>
                 </div>
                 <div class="bc-system-body bc-cookies-body">
                     Nej, cookies är inte farliga. Cookie-filerna består av vanlig text och kan inte innehålla exempelvis virus. Filerna är mycket små och vanliga webbläsare tillåter bara att en viss mängd cookies sparas vilket gör att det inte finns någon risk att datorminnet blir fullt.
                 </div>
                 <div class="bc-system-footer"></div>
            </div>
            <div class="bc-system-wrapper bc-system-margin-top">
                <div class="bc-system-header">
                    <h3>
                        Kan jag säga nej till Cookies?
                    </h3>
                </div>
                <div class="bc-system-body bc-cookies-body">
                    Om du inte vill tillåta lagring av cookies på din dator kan du stänga av funktionen i din webbläsares inställningar. Väljer du att inte tillåta cookies kan dock funktionaliteten begränsas på vissa delar av <strong>Boxcore.net</strong>, vilket innebär att sidorna inte alltid kommer att visas korrekt. Hur du stänger av cookie-hanteringen beror på vilken webbläsare du använder. Under "Hjälp" eller motsvarande meny i webbläsaren på din dator kan du läsa mer om hur du gör för att aktivera/avaktivera cookies.
                    <br /><br />
                    Läs mer om lagen och dess innebörd på Post- och telestyrelsens webbsidor om cookies.
                    <br /><br />
                    <ul>
                        <li><a href="http://www.pts.se/sv/Bransch/Regler/Lagar/Lag-om-elektronisk-kommunikation/Cookies-kakor/" target="_blank">Cookies - Allmän info</a></li>
                    </ul>
                </div>
                <div class="bc-system-footer"></div>
            </div>
        </div>
    </div>
</div>
