@{
    ViewBag.Title = "Villkor";
}
<div class="event-main container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="bc-system-wrapper">
                <div class="bc-system-header">
                    <h3>
                        Användarvillkor
                    </h3>
                </div>
                <div class="bc-system-body bc-cookies-body">
                    <strong>Boxcore.net</strong> säljer inte eller överför dina personuppgifter till utomstående parter. Detta inkluderar inte betrodda tredje parter som hjälper oss att driva vår webbplats eller service åt våra användare, så länge parterna är överens om att hålla informationen konfidentiell.
                    <br />
                    <br />
                    <strong>Boxcore.net</strong> kan också släppa din information vid tillämpling av vår webbplatspolicy eller för att skydda våra eller andras rättigheter, egendom eller säkerhet. Däremot kan personuppgifter som inte identifieras som personliga lämnas till andra parter för marknadsföring, reklam eller annan användning enligt <a href="http://www.datainspektionen.se/lagar-och-regler/personuppgiftslagen/" target="_blank">PuL</a>.
                </div>
                <div class="bc-system-footer"></div>
            </div>
            <div class="bc-system-wrapper bc-system-margin">
                <div class="bc-system-header">
                    <h3>
                        Kreditkortsbetalningar
                    </h3>
                </div>
                <div class="bc-system-body bc-cookies-body">
                    <strong>Boxcore.net</strong> använder endast säkra betalningsmetoder med kreditkort via <a href="http://payex.se/" target="_blank">Payex</a>.
                    <br />
                    <br />
                    <strong>Boxcore.net</strong> samlar inte dina kreditkortsuppgifter, dessa hanteras helt av <a href="http://payex.se/" target="_blank">Payex</a>.
                    <br />
                    <br />
                    <ul>
                        <li>För mer information tryck <a href="http://payex.se/avtal/checkout-personupgift/" target="_blank">här</a>.</li>
                    </ul>
                </div>
                <div class="bc-system-footer"></div>
            </div>
        </div>
    </div>
</div>