@{
    ViewBag.Title = "Personuppgiftspolicy";
}
<div class="event-main container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <!-- Personuppgiftspolicy för<strong> Boxcore.net</strong> -->
            <div id="top-div" class="bc-system-wrapper">
                <div class="bc-system-header">
                    <h3>
                        Personuppgiftspolicy för<strong> Boxcore.net</strong>
                    </h3>
                </div>
                <div class="bc-system-body bc-cookies-body">
                    <strong>Boxcore.net</strong> respekterar din integritet och din rätt att ha kontroll över dina personuppgifter.
                    I denna personuppgiftspolicy beskrivs vilka uppgifter vi samlar in, i vilket syfte och för vilka ändamål de samlas in, rättslig grund för vår behandling, på vilket sätt du kan ha kontroll över dina egna uppgifter samt hur du kan kontakta oss. Denna personuppgiftspolicy gäller när du använder vår webbplats <strong>Boxcore.net</strong> ("Tjänsten"), och de tjänster som tillhandahålls via vår webbplats  (t.ex. att boka en tävling som "Atlet" eller arrangera en tävling som "Tävlingsarrangör". Genom att acceptera denna personuppgiftspolicy samtycker du till att vi får samla in, använda, lämna ut och spara dina personuppgifter på de sätt som beskrivs i denna personuppgiftspolicy.
                    <br />
                    <br />
                    <strong>Syn3rr Solutions Handelsbolag </strong> Syn3rr Solutions Handelsbolag ("<strong>Boxcore.net</strong>", "vi ), org. nr <strong>969786-3067</strong> är personuppgiftsansvarig och ansvarar för att behandling sker enligt gällande lagstiftning. Det är viktigt att du läser och förstår vår personuppgiftspolicy innan du använder Tjänsten.
                    <br />
                    <br />
                    All behandling av personuppgifter inom <strong>Boxcore.net</strong> sker i enlighet med tillämplig personuppgiftslagstiftning. Inom EU/EES gäller från och med den 25 maj 2018 den såkallade dataskyddsförordningen (GDPR).
                    <br />                  
                    <br />
                    <span id="central"><a href="#">Centrala begrepp</a></span><br />
                    <span id="tasks"><a href="#">Uppgifter som behandlas</a></span><br />
                    <span id="purpose"><a href="#">Ändamål med behandlingen</a></span><br />
                    <span id="security"><a href="#">Säkerhet och Överföring av personuppgifter</a></span><br />
                    <span id="storage"><a href="#">Lagring och gallring av personuppgifter</a></span><br />
                    <span id="rights"><a href="#">Dina rättigheter och val</a></span><br />
                    <span id="cookies"><a href="#">Cookies</a></span><br />
                    <span id="links"><a href="#">Länkar till andra webbplatser och sociala plug-ins</a></span><br />
                    <span id="changes"><a href="#">Ändringar i personuppgiftspolicyn</a></span><br />
                    <span id="lawchoice"><a href="#">Lagval och tvistelösning</a></span><br />
                    <span id="end"><a href="#">Avsluta konto</a></span><br />
                    <span id="contacts"><a href="#">Kontaktuppgifter</a></span><br />
                    <br />
                    <br />
                </div>
                <div class="bc-system-footer go-top-div"></div>
            </div>
            <!-- Centrala begrepp -->
            <div id="central-concept" class="bc-system-wrapper bc-system-margin">
                <div class="bc-system-header">
                    <h3>
                        Centrala begrepp
                    </h3>
                </div>
                <div class="bc-system-body bc-cookies-body">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En personuppgift är en upplysning som direkt eller indirekt tillsammans med andra uppgifter kan knytas till en fysisk levande person. Exempel på personuppgifter är namn, adress, telefonnummer, personnummer och e-postadress. Även uppgifter om IP-nummer och om ditt användarbeteende vid nyttjande av Tjänsten kan utgöra personuppgifter.

                    Personuppgiftsbehandling innefattar all hantering av personuppgifter, exempelvis insamling, analysering, ändring, registrering och lagring.

                    Personuppgiftsansvarig är den som ensam eller tillsammans med annan bestämmer ändamål och medel för behandlingen av personuppgifterna och som ansvarar för att sådan behandling sker i enlighet med tillämplig lagstiftning.
                    <br />
                    <br />
                </div>
                <div class="bc-system-footer go-top-div"></div>
            </div>
            <!-- Uppgifter som behandlas -->
            <div id="tasks-processed" class="bc-system-wrapper bc-system-margin">
                <div class="bc-system-header">
                    <h3>
                        Uppgifter som behandlas
                    </h3>
                </div>
                <div class="bc-system-body bc-cookies-body">
                    <span>De personuppgifter <strong>Boxcore.net</strong> samlar in och behandlar om dig som användare av Tjänsten är:</span><br />
                    <span>•	Namn</span><br />
                    <span>•	Hemstad</span><br />
                    <span>•	Telefonnummer</span><br />
                    <span>•	E-postadress</span><br />
                    <span>•	Födelsedatum</span><br />
                    <span>•	Tröjstorlek</span><br />
                    <span>•	Kön</span><br />
                    <span>•	Profilbild</span><br />
                    <span>•	Boxanknytning</span><br />
                    <span>•	Lösenord</span><br />
                    <br />
                    <br />
                    <span>Om du väljer att delta i en tävling sparar vi dessutom:</span><br />
                    <span>•	Reservationer/köp</span><br />
                    <span>•	Tävlingsresultat</span><br />

                    <span>och andra uppgifter som du eventuellt själv lämnar inom ramen för Tjänsten.</span><br /><br />
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>BoxCore.Net</strong> behöver ovanstående uppgifter för att <strong>Boxcore.net</strong> ska fungera som en social plattform för tävlingar inom Crossfit. När du väljer att delta i en tävling som Atlet behöver Tävlingsarrangören av tävlingen information om dig för att på ett fullgott sätt kunna administrera tävlingen innan start, och för att registrera resultat när tävlingen pågår. Eftersom att tävlingsarrangören behöver personuppgifter om du väljer att delta i en tävling så samlar vi på förhand in ovanstående uppgifter om dig när du väljer att skapa ett användarkonto på <strong>Boxcore.net</strong>. Viss information inhämtas automatiskt när du använder Tjänsten eller skapar ett användarkonto, inklusive:</span><br /><br />
                    <span>•	Information om din användning av Tjänsten, t.ex. hur du navigerar i Tjänsten och vilka sidor du har besökt.</span><br /><br />


                </div>
                <div class="bc-system-footer go-top-div"></div>
            </div>
            <!-- Ändamål med behandlingen och rättslig grund -->
            <div id="purpose-treatement" class="bc-system-wrapper bc-system-margin">
                <div class="bc-system-header">
                    <h3>
                        Ändamål med behandlingen och rättslig grund
                    </h3>
                </div>
                <div class="bc-system-body bc-cookies-body">
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vi behandlar personuppgifterna för de ändamål som anges nedan, samt för de eventuella ytterligare ändamål som anges vid insamlingstidpunkten. Genom att acceptera denna personuppgiftspolicy bekräftar du att vi får använda personuppgifter för att:</span><br />
                    <span>•	För att tillhandahålla Tjänsten, inklusive skapande av och administrering av ditt användarkonto.</span><br />
                    <span>•	För att vi ska kunna kommunicera med dig via telefon, elektronisk kommunikation (så som sms, e-post, e-postformulär eller konton i sociala medier) eller på annat sätt, t.ex. vid kontakt via kundservice, för att skicka notifieringar samt informera dig om våra uppdateringar av Tjänsten och användarvillkor.</span><br />
                    <span>•	För att förbättra och utveckla Tjänsten och nya tjänster och produkter, för att kontinuerligt förbättra säkerheten i våra nätverk och informationssystem, samt för att analysera din och andra användares användning av Tjänsten (t.ex. vilken mobilenhet eller utrustning du använder) för att bättre förstå hur våra kunder interagerar och använder Tjänsten.</span><br />
                    <span>•	För att kunna kommunicera med dig vid ändringar av tävlingar eller andra aktiviteter som hanteras genom Tjänsten.</span><br />
                    <br />
                    <br />
                    <span><strong>för vårt berättigade intresse:</strong></span><br />
                    <span>•	För att skicka nyhetsbrev via e-post till dig.</span><br />
                    <span>•	För att låta andra medlemmar ta del av dina personuppgifter via din profil.</span><br />

                    <span><strong>med ditt utryckliga samtycke:</strong></span><br />
                    <span>•	För att tillhandahålla Tjänsten, inklusive skapande av och administrering av ditt användarkonto.</span><br />
                    <span>•	För att personifiera och förbättra din upplevelse av Tjänsten; exempelvis kan vi genom att vidareförmedla ditt namn och din tröjstorlek när du deltar i tävlingar som Atlet se till att du får en tröja som passar.</span><br />
                    <span>•	För att fullfölja våra avtal med Tävlingsarrangörer så görs dina personuppgifter tillgängliga för arrangören så den vet vilka som gjort reservationer till en specifik tävling.</span><br />
                    <span>•	För att du ska kunna nyttja Tjänsten så görs dina personuppgifter tillgängliga för tävlingsarrangören i det fall du väljer att delta i en tävling som Atlet, för att säkerställa att du tävlar i rätt klass.</span><br />
                    <span>•	För att kunna tillhandahålla den sociala och nätverksmässiga funktionaliteten hos Tjänsten, alltså att uppvisa resultatlistor och deltagare för andra Atleter och Tävlingsarrangörer.</span><br /><br />
                    <span><strong>Rättslig grund för<strong> Boxcore.net</strong> behandling av dina personuppgifter </strong></span><br />
                    <span><i>Nödvändig behandling för ändamål som rör <strong>Boxcore.net</strong> eller tredje parts berättigade intressen (intresseavvägning)  </i></span><br /><br />
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I de fall behandlingen är nödvändig för ändamål som rör<strong> Boxcore.net</strong> eller tredje parts berättigade intressen, kan <strong>Boxcore.net</strong> behandla dina personuppgifter med stöd av en intresseavvägning. Sådana intressen innefattar <strong>Boxcore.net</strong> kommersiella intresse av att bibehålla en god kundrelation med dig, att tillhandahålla dig information som är av relevans för din användning av Tjänsten, förbättra och vidareutveckla Tjänsten samt att marknadsföra <strong>Boxcore.net</strong> produkter och tjänster. Med "berättigade intressen" avses således vårt intresse att bedriva och hantera vår verksamhet för att möjliggöra att vi kan tillhandahålla dig en så bra Tjänst som möjligt samt en bra och säker användarupplevelse. Till exempel har vi ett berättigat intresse att skapa förutsättningar för att du som Atlet på ett så smidigt sätt som möjligt ska kunna delta i tävlingar och under tävlingen få en så bra upplevelse som möjligt.</span><br />
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Berättigade intressen kan även avse behandling som också är i ditt eget eller tredje parts intresse. Tillexempel genom att göra dina personuppgifter tillgängliga för den Tävlingsarrangör som arrangerar en tävling där du deltar som Atlet. Därigenom säkerställer vi för både Tävlingsarrangör och Atlet att Atleten har rätt ålder och/eller kön för en viss klass.Vi kan behandla dina personuppgifter för att skydda dig (och övriga kunder, leverantörer och samarbetspartners) mot bedrägerier, intrång och andra oegentligheter vid användning av våra Tjänster och för att säkerställa att våra Tjänster och system är säkra. När vi behandlar dina personuppgifter med stöd av en intresseavvägning säkerställer vi att vi tar hänsyn till och balanserar behandlingens möjliga påverkan på dig (både positiv och negativ) samt dina intressen och rättigheter under tillämplig dataskyddslagstiftning. För det fall du har synpunkter eller invändningar mot vår behandling som grundar sig på en intresseavvägning har du rätt att när som helst göra invändningar mot sådan behandling. För mer information om dina rättigheter, vänligen se information under rubriken "Dina rättigheter och val" nedan. </span><br /><br />
                    <span><i>Behandling med stöd av uttryckligt samtycke</i></span><br />
                    <span><strong>Boxcore.net</strong> kan även behandla personuppgifter med stöd av ett uttryckligt samtycke från dig.</span><br /><br />
                    <span>Det kan förekomma att samma personuppgift behandlas för flera ändamål och/eller med stöd av fler än en av de rättsliga grunder som anges ovan.</span>

                </div>
                <div class="bc-system-footer go-top-div"></div>
            </div>
            <!-- Säkerhet och Överföring av personuppgifter -->
            <div id="security-transfer" class="bc-system-wrapper bc-system-margin">
                <div class="bc-system-header">
                    <h3>
                        Säkerhet och Överföring av personuppgifter
                    </h3>
                </div>
                <div class="bc-system-body bc-cookies-body">
                    <span><strong>Överföring av personuppgifter till tredje man</strong></span><br /><br />
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vi kommer inte dela, sälja, överlåta eller på annat sätt lämna ut personuppgifter utöver vad som anges i denna personuppgiftspolicy, om vi inte är skyldiga att göra det enligt lag eller till följd av ett domstolsbeslut eller om vi har fått ditt medgivande till sådant utlämnande. </span><br /><br />
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>BoxCore.Net</strong> kan komma att lämna ut personuppgifter till tredje part, som t.ex. polisen eller annan myndighet, om det rör utredning av misstanke om brott eller om vi annars är skyldiga att lämna ut sådan uppgift med stöd av lag eller myndighetsbeslut. </span><br /><br />
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I det fall du som Atlet väljer att delta i en tävling så görs dina personuppgifter tillgängliga för Tävlingsarrangören. Ditt namn kommer att göras synligt på resultatlistor från tävlingen även för icke-medlemmar</span><br /><br />
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dina personuppgifter finns att se för andra som också använder tjänsten på din personliga profil. På din profil kan du själv styra över vad som finns att se för andra Atleter.</span><br /><br />
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tjänsten använder sig av tredjepart för betalningar. I de fall som betalningar misslyckas eller av andra anledningar behöver följas upp/felsökas så kan dina uppgifter komma att lämnas ut till den betaltjänst som använts. Vi poängterar här att <strong>Boxcore.net</strong> inte sparar några kortuppgifter, det sköts helt av betaltjänsten som har en egen personuppgiftspolicy som du får godkänna innan köp.  </span><br /><br />
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>BoxCore.Net</strong> kan anlita externa leverantörer att utföra uppgifter för <strong>BoxCore.Nets</strong> räkning, t.ex. för att tillhandahålla IT-tjänster, eller hjälpa till med marknadsföring och analyser. Utförandet av dessa tjänster kan innebära att<strong> Boxcore.net</strong> leverantörer, både inom EU/EES och utanför EU/EES, får tillgång till dina personuppgifter. Dessa leverantörer behandlar personuppgifter för vår räkning i enlighet med skriftliga personuppgiftsbiträdesavtal och våra instruktioner. Personuppgiftsbiträden som får tillgång till dina personuppgifter ges inte någon rätt att använda dina personuppgifter för andra syften än de syften som anges i denna personuppgiftspolicy, utan kommer främst att användas i den mån detta behövs för att kunna tillhandahålla Tjänsten. </span><br /><br />
                    <br />
                    <br />
                    <span><strong>Överföring av personuppgifter till tredje land</strong></span><br /><br />
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>BoxCore.Net</strong> samarbetar endast med partners som behandlar personuppgifter inom EU/EES. För det fall <strong>Boxcore.net</strong> väljer att anlita leverantörer utanför EU/EES, t.ex. molntjänstleverantörer, kommer<strong> Boxcore.net</strong> i sådant fall att vidta särskilda skyddsåtgärder, såsom tecknande av avtal som inkluderar standardiserade modellklausuler för dataöverföring vilka har antagits av EU-kommissionen och som finns tillgängliga på EU-kommissionens webbplats eller företag som upprätthåller samma skyddsnivå som inom EU/EES genom att t.ex. ha anslutit sig till den s.k. Privacy Shield överenskommelsen mellan EU och USA. </span><br /><br />
                    <br />
                    <br />
                    <span><strong>Säkerhet till skydd för personuppgifter </strong></span><br /><br />
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>BoxCore.Net</strong> värnar om din integritet och om en hög säkerhet för dina personuppgifter. <strong>Boxcore.nets</strong> har vidtagit lämpliga säkerhetsåtgärder för att skydda dina personuppgifter från obehörig åtkomst, ändring, spridning eller förstörelse. Tjänsten använder sig bl.a. av SSL (Secure Socket Layer) som är ett protokoll för säker överföring av data via Internet (eller andra nätverk).  All behandling av dina personuppgifter sker under strikt sekretess.</span><br /><br />
                    <br />
                    <br />

                </div>
                <div class="bc-system-footer go-top-div"></div>
            </div>
            <!--  Lagring och gallring av personuppgifter -->
            <div id="storage-thining" class="bc-system-wrapper bc-system-margin">
                <div class="bc-system-header">
                    <h3>
                        Lagring och gallring av personuppgifter
                    </h3>
                </div>
                <div class="bc-system-body bc-cookies-body">
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Behandlingen sker enligt gällande lagstiftning och innebär att personuppgifter inte lagras under en längre tid än vad som är nödvändigt med hänsyn till ändamålen med behandlingen. Vi kommer att lagra dina personuppgifter så länge du väljer att ha ett användarkonto hos oss eller, om du inte har ett användarkonto, tills det att den tjänst du valt att utföra är slutförd. Om du prenumererar på vårt nyhetsbrev sparas dina kontaktuppgifter så länge som du väljer att fortsätta ta emot nyhetsbrevet.   Viss information kan behållas längre då det krävs så p.g.a andra lagkrav, som exempelvis bokföringslagen.</span><br /><br />
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Om du deltagit i tävlingar och avslutar ditt konto hos oss så kommer vi att anonymisera dina resultat, alltså behålla resultaten som inte betraktas som en personuppgift och ta bort ditt namn (och alla andra personuppgifter om dig) ifrån resultatlistorna. I det fall du deltagit i en lagtävling där ni tagit ett lagnamn som kan kopplas till riktiga personuppgifter så kommer även lagnamnet att anonymiseras. Vi uppmanar därför Atleter att välja ett lagnamn som inte innehåller någon personuppgift. Vidare så kommer uppgifterna om reservationen/köpet att finnas kvar men sakna koppling till en specifik person.</span><br /><br />
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Samma personuppgift kan lagras på flera olika ställen för olika ändamål. Det kan innebära att en uppgift som har gallrats ur ett system för att den inte längre är nödvändig kan finnas kvar i ett annat system där den lagras med stöd av en annan rättslig grund eller för ett annat ändamål där personuppgiften fortfarande behövs.</span><br /><br />
                    <br />
                    <br />
                </div>
                <div class="bc-system-footer go-top-div"></div>
            </div>
            <!-- Dina rättigheter och val -->
            <div id="rights-choice" class="bc-system-wrapper bc-system-margin">
                <div class="bc-system-header">
                    <h3>
                        Dina rättigheter och val
                    </h3>
                </div>
                <div class="bc-system-body bc-cookies-body">
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vad gäller behandlingen av dina personuppgifter har du en rad rättigheter som följer av tillämplig dataskyddslagstiftning. För att utöva dina rättigheter är du välkommen att kontakta <strong>BoxCore.Net</strong> via de kontaktuppgifter som anges i slutet av denna Personuppgiftspolicy. </span><br /><br />
                    <span><i>Rätt till tillgång</i></span><br />
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Du har rätt att begära och få bekräftelse på om <strong>BoxCore.Net</strong> behandlar personuppgifter om dig. <strong>BoxCore.Net</strong> behandlar personuppgifter om dig har du rätt att kostnadsfritt få information om behandlingen samt en kopia av de personuppgifterna som är under behandling. För eventuellt ytterligare kopior äger <strong>BoxCore.Net</strong> rätt att ta ut en rimlig avgift baserat på <strong>BoxCore.Nets</strong> administrativa kostnader för sådana kopior. Om begäran är uppenbart ogrundad eller orimlig får<strong> Boxcore.net</strong>, i enlighet med vad som följer av tillämplig dataskyddslagstiftning, ta ut en rimlig avgift för sådan begäran eller vägra tillmötesgå sådan begäran. </span><br /><br />
                    <span><i>Rätt till rättelse av felaktiga personuppgifter </i></span><br />
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Du har rätt att utan onödigt dröjsmål få felaktiga personuppgifter om dig rättade. Beroende på ändamålet med behandlingen har du även rätt att komplettera ofullständiga personuppgifter</span><br /><br />
                    <span><i>Rätt till radering ("rätten att bli bortglömd") </i></span><br />
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•	om personuppgifterna inte längre är nödvändiga för de ändamål för vilka de samlats in.</span><br /><br />
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•	om behandlingen grundar sig på ditt samtycke har du rätt att när som helst återkalla ditt samtycke och därefter rätt till radering av uppgifterna (förutsatt att det inte finns någon annan rättslig grund för behandlingen.)</span><br /><br />
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•	om du invänder mot behandling som grundar sig på en intresseavvägning och det saknas berättigade skäl för behandlingen som väger tyngre (du har dock alltid rätt till radering av personuppgifter som används för direkt marknadsföring med stöd av en intresseavvägning).</span><br /><br />
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•	om personuppgifterna har behandlats på ett olagligt sätt eller de måste raderas p.g.a. rättslig förpliktelse.</span><br /><br />
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Rätten till radering</strong> gäller dock inte i vissa fall, t.ex. om behandlingen är nödvändig för att <strong>BoxCore.Net</strong> ska uppfylla en rättslig förpliktelse eller för att <strong>BoxCore.Net</strong> ska kunna fastställa, göra gällande eller försvara rättsliga anspråk. </span><br /><br />
                    <span><i>Rätt till begränsning </i></span><br />
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Du har i vissa fall rätt att begära att <strong>BoxCore.Net</strong> begränsar behandlingen av dina personuppgifter, t.ex. om du inte anser att personuppgifterna är korrekta så att <strong>BoxCore.Net</strong> får tid att kontrollera detta, om behandlingen är olaglig och du inte vill att vi raderar uppgifterna, om <strong>BoxCore.Net</strong> inte längre behöver uppgifterna men du behöver dem för rättsliga anspråk eller om du invänder mot <strong>BoxCore.Nets</strong> behandling med stöd av en intresseavvägning i väntan på kontroll av om <strong>BoxCore.Nets</strong> eller tredje parts berättigade skäl väger tyngre än dina berättigade skäl. </span><br /><br />
                    <span><i>Rätt att göra invändningar  </i></span><br />
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Du har rätt att när som helst göra invändningar mot behandling av dina personuppgifter som grundar sig på en intresseavvägning, inbegripet profilering. <strong>BoxCore.Net</strong> får inte fortsätta att behandla sådana personuppgifter såvida <strong>BoxCore.Net</strong> inte kan presentera tvingande berättigade skäl för sådan behandling som väger tyngre än dina intressen, rättigheter och friheter. <strong>BoxCore.Net</strong> får dock fortsätta behandlingen för fastställande, utövande eller försvar av rättsliga anspråk. Om du invänder mot behandling för direkt marknadsföring som sker med stöd av en intresseavvägning får <strong>BoxCore.Net</strong> inte längre behandla dina personuppgifter för sådant ändamål. Du kan när som helst avstå från att ta emot marknadsföringskommunikation från oss genom att klicka på "avsluta prenumeration" i e-post och SMS kommunikation som vi skickar dig. </span><br /><br />
                    <span><i>Rätt till dataportabilitet  </i></span><br />
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Du har i vissa fall rätt överföra dina personuppgifter till en annan personuppgiftsansvarig, t.ex. om behandlingen grundar sig på ett samtycke eller på ett avtal mellan dig och <strong>BoxCore.Net</strong> samt under förutsättning att behandlingen sker automatiserat. När det är tekniskt möjligt ska sådan överföring ske direkt från <strong>BoxCore.Net</strong> till en annan personuppgiftsansvarig. </span><br /><br />
                    <span><i>Rätt att inge klagomål till Datainspektionen </i></span><br />
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Om du anser att dina rättigheter inte respekteras av oss får du gärna kontakta oss och du har även en rätt att lämna in ett klagomål till Datainspektionen (som föreslås byta namn till "Integritetsskyddsmyndigheten").</span><br /><br />
                    <br />
                    <br />
                </div>
                <div class="bc-system-footer go-top-div"></div>
            </div>
            <!-- Cookies -->
            <div id="cookies-div" class="bc-system-wrapper bc-system-margin">
                <div class="bc-system-header">
                    <h3>
                        Cookies
                    </h3>
                </div>
                <div class="bc-system-body bc-cookies-body">
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;När du besöker vår hemsida använder vi oss av cookies och liknande spårningstekniker. Läs mer om hur vi använder cookies och liknande i vår <a href="/Home/Cookies">Cookiespolicy</a>.</span>
                    <br />
                    <br />
                </div>
                <div class="bc-system-footer go-top-div"></div>
            </div>
            <!-- Länkar till andra webbplatser och sociala plug-ins -->
            <div id="links-websites-plugin" class="bc-system-wrapper bc-system-margin">
                <div class="bc-system-header">
                    <h3>
                        Länkar till andra webbplatser och sociala plug-ins
                    </h3>
                </div>
                <div class="bc-system-body bc-cookies-body">
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I de fall Tjänsten hänvisar (länkar) till en webbplats eller material, som tillhör tredje part, är sådan hänvisning enbart avsedd som en tjänst för användaren och <strong>BoxCore.Net</strong> frånsäger sig allt ansvar för den och dess eventuella personuppgiftsbehandling.</span><br /><br />
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I Tjänsten kan du ibland erbjudas att dela information från Tjänsten på sociala medier, som t.ex. Facebook eller Twitter, via en implementerad social plug-in (som t.ex. en gillaknapp). Vi har inte något inflytande över den information som sociala medier samlar in med hjälp av dessa plug-ins om du väljer att använda dem. Vi uppmanar dig därför att hålla dig informerad om syftet med, och omfattningen av, insamlingen av uppgifter som sker genom sociala plug-ins.</span>
                    <br />
                    <br />
                </div>
                <div class="bc-system-footer go-top-div"></div>
            </div>
            <!-- Ändringar i personuppgiftspolicyn -->
            <div id="changes-policy" class="bc-system-wrapper bc-system-margin">
                <div class="bc-system-header">
                    <h3>
                        Ändringar i personuppgiftspolicyn
                    </h3>
                </div>
                <div class="bc-system-body bc-cookies-body">
                    <span>Om vi gör ändringar i denna personuppgiftspolicy kommer vi att meddela dig genom att skicka ett e-postmeddelande samt publicera den uppdaterade versionen här <a href="/Home/NewPolicy">här</a>.</span>
                    <br />
                    <br />
                </div>
                <div class="bc-system-footer go-top-div"></div>
            </div>
            <!-- Lagval och tvistelösning -->
            <div id="lawchoices-litigation" class="bc-system-wrapper bc-system-margin">
                <div class="bc-system-header">
                    <h3>
                        Lagval och tvistelösning
                    </h3>
                </div>
                <div class="bc-system-body bc-cookies-body">
                    <span>Behandling av dina personuppgifter enligt denna personuppgiftspolicy och din användning av Tjänsten ska tolkas enligt svensk lagstiftning. Tvister ska avgöras av svensk allmän domstol om inte annat följer av tvingande lag.</span>
                    <br />
                    <br />
                </div>
                <div class="bc-system-footer go-top-div"></div>
            </div>
            <!-- Payex -->
            <div class="bc-system-wrapper bc-system-margin">
                <div class="bc-system-header">
                    <h3>
                        Kreditkortsbetalningar
                    </h3>
                </div>
                <div class="bc-system-body bc-cookies-body">
                    <strong>Boxcore.net</strong> använder endast säkra betalningsmetoder med kreditkort via <a href="http://payex.se/" target="_blank">Payex</a>.
                    <br />
                    <br />
                    <strong>Boxcore.net</strong> samlar inte dina kreditkortsuppgifter, dessa hanteras helt av <a href="http://payex.se/" target="_blank">Payex</a>.
                    <br />
                    <br />
                    <ul>
                        <li>För mer information tryck <a href="http://payex.se/avtal/checkout-personupgift/" target="_blank">här</a>.</li>
                    </ul>
                </div>
                <div class="bc-system-footer"></div>
            </div>
            <!-- Avsluta konto -->
            <div id="end-account" class="bc-system-wrapper bc-system-margin">
                <div class="bc-system-header">
                    <h3>
                        Avsluta konto
                    </h3>
                </div>
                <div class="bc-system-body bc-cookies-body">
                    <span>Om du vill avsluta ditt konto på <strong>BoxCore.Net</strong> så kontakta oss via mail. Inom kort kommer en funktion inbyggd i Tjänsten där du själv kan välja att avsluta ditt konto.</span>
                    <br />
                    <br />
                </div>
                <div class="bc-system-footer go-top-div"></div>
            </div>
            <!-- Kontaktuppgifter -->
            <div id="contacts-div" class="bc-system-wrapper bc-system-margin">
                <div class="bc-system-header">
                    <h3>
                        Kontaktuppgifter
                    </h3>
                </div>
                <div class="bc-system-body bc-cookies-body">
                    <span>För ytterligare information om personuppgiftshantering eller om du har frågor, är du välkommen att kontakta oss på:</span><br />
                    <ul>
                        <li> <span><strong>Syn3rr Solutions HB</strong></span></li>
                        <li><span>support@boxcore.net</span></li>
                    </ul>
                    <br />
                    <br />
                </div>
                <div class="bc-system-footer go-top-div"></div>
            </div>
            <!-- End -->
            <div class="bc-system-wrapper bc-system-margin">
                <div class="bc-system-header">
                </div>
                <div class="bc-system-body bc-cookies-body">
                    <ul>
                        <li> <span><strong>Denna personuppgiftspolicy gäller från och med 2018-05-23</strong></span></li>
                    </ul>
                </div>
                <div class="bc-system-footer go-top-div"></div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            
            $(".go-top-div").click(function () {
                $('html, body').animate({
                    scrollTop: $("#top-div").offset().top
                }, "slow");
            });
            $("#central").click(function () {
                $('html, body').animate({
                    scrollTop: $("#central-concept").offset().top
                }, "slow");
            });
            $("#tasks").click(function () {
                $('html, body').animate({
                    scrollTop: $("#tasks-processed").offset().top
                }, "slow");
            });
            $("#purpose").click(function () {
                $('html, body').animate({
                    scrollTop: $("#purpose-treatement").offset().top
                }, "slow");
            });
            $("#security").click(function () {
                $('html, body').animate({
                    scrollTop: $("#security-transfer").offset().top
                }, "slow");
            });
            $("#storage").click(function () {
                $('html, body').animate({
                    scrollTop: $("#storage-thining").offset().top
                }, "slow");
            });
            $("#rights").click(function () {
                $('html, body').animate({
                    scrollTop: $("#rights-choice").offset().top
                }, "slow");
            });
            $("#cookies").click(function () {
                $('html, body').animate({
                    scrollTop: $("#cookies-div").offset().top
                }, "slow");
            });
            $("#links").click(function () {
                $('html, body').animate({
                    scrollTop: $("#links-websites-plugin").offset().top
                }, "slow");
            });
            $("#changes").click(function () {
                $('html, body').animate({
                    scrollTop: $("#changes-policy").offset().top
                }, "slow");
            });
            $("#lawchoice").click(function () {
                $('html, body').animate({
                    scrollTop: $("#lawchoices-litigation").offset().top
                }, "slow");
            });
            $("#end").click(function () {
                $('html, body').animate({
                    scrollTop: $("#end-account").offset().top
                }, "slow");
            });
            $("#contacts").click(function () {
                $('html, body').animate({
                    scrollTop: $("#contacts-div").offset().top
                }, "slow");
            });
        })
    </script>
}